<ion-content>

  <div class="container">
    <div class="col-lg-12 mt-2">
      <div class="row g-3">
        <div class="col-sm-6">

          <h4 class="mb-3"> <span
              class="headerTextLeft">{{this.pReceive==undefined?"สร้าง":this.pMode=="E"?"แก้ไข":"View"}} -
              ใบรับเข้า</span></h4>

          <div [hidden]="(pMode!='E'&&pMode!='V')||foundItemAddnew" class="form-check ms-3">
            <input class="form-check-input" type="checkbox" [(ngModel)]="isConfirmed" id="flexCheckDefault" [disabled]="resHReceive.STATUS=='CANCELED'">
            <label class="form-check-label" for="flexCheckDefault">ยืนยันรับเข้า Stock</label>
          </div>
        </div>
        <div class="col-sm-6 mt-4">
          <button type="button" class="btn btn-outline-danger float-end ms-2" (click)="dismiss()">ยกเลิก</button>
          <button type="button" class="{{resHReceive.STATUS=='CANCELED'?'btn btn-outline-secondary float-end':'btn btn-outline-success float-end'}}" (click)="validToSaveData()" [disabled]="resHReceive.STATUS=='CANCELED'">บันทึก</button>
        </div>
      </div>

      <div class="form-group row mb-1">
        <label for="CREATE_DATE" class="col-sm-10 col-form-label end-0" style="text-align:right;">วันที่เอกสาร :</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="CREATE_DATE" [(ngModel)]="resHReceive.DOC_DATE" name="CREATE_DATE"
            readonly />
        </div>
      </div>
      <div class="form-group row mb-1">
        <label for="DOC_NO" class="col-sm-10 col-form-label end-0" style="text-align:right;">เลขที่เอกสาร :</label>
        <div class="col-sm-2">
          <input type="text" [(ngModel)]="resHReceive.DOC_NO" class="form-control" id="DOC_NO" disabled>
        </div>
      </div>
      <div class="form-group row ">

        <label for="DOC_NO" class="col-sm-3 col-form-label" style="text-align:right;">กองละคร<span
            style="color:red">*</span> :</label>
        <div class="col-sm-3">
          <select class="form-select" id="VENDOR" [(ngModel)]="resHReceive.VENDOR_ID"
            [disabled]="pMode!='C' && pMode!='E'" required>
            <option value="">ระบุกองละคร</option>
            <option *ngFor="let item of resVendor" value="{{item.VENDOR_ID}}">{{item.VENDOR_DESC}}</option>
          </select>
        </div>

        <label for="DOC_NOx" class="col-sm-1 col-form-label" style="text-align:right;">ชุดที่<span
            style="color:red">*</span> :</label>
        <div class="col-sm-1">
          <input type="number" class="form-control" [(ngModel)]="resHReceive.SET_NO"
            [disabled]="pMode!='C' && pMode!='E'" />
        </div>

        <label for="RECEIVE_DATE" class="col-sm-2 col-form-label end-0" style="text-align:right;">วันที่รับสินค้า<span
            style="color:red">*</span> :</label>
        <div class="col-sm-2">
          <input type="text" value="{{ resHReceive.RECEIVE_DATE | date: 'dd/MM/yyyy' }}" class="form-control" id="date"
            placeholder="ระบุวันที่รับสินค้า" style="{{pMode=='E'||pMode=='C'?'background-color: white;':''}}"
            [disabled]="pMode!='C' && pMode!='E'" readonly />

          <ion-popover #receiveDate trigger="date" size="auto">
            <ng-template>
              <ion-datetime presentation="date" [(ngModel)]="resHReceive.RECEIVE_DATE" locale="th-TH">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>

  </div>


  <div class="detail">
    <div [hidden]="pMode!='E'&&pMode!='C'">
      <button type="button" (click)="openModalMasterProduct()" class="btn btn-outline-primary">เพิ่มรายการ</button>

    </div>
    <ngx-datatable #myTable style="margin-top: 10px;" class="bootstrap" [limit]="20" [rows]="resIReceive"
      [rowHeight]="40" [columnMode]="'force'" [SortType]="'multi'" [headerHeight]="50" [footerHeight]="50">

      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="this.pReceive==undefined?200:250" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 " style="margin-top: 1px;">
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-to" width="100%" height="150" src="assets/img-asset/{{row.IMG1}}"
                  onerror="this.src='assets/img-asset/no-image-available-icon-6.png';">
                <div class="card-body" [hidden]="row.RECEIVE_IID==''">
                  <input type="file" class="form-control" id="customFile" #file1 type="file" accept='image/*' (change)="addProductIMG(row,1,file1.files)" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-to" width="100%" height="150" src="assets/img-asset/{{row.IMG2}}"
                  onerror="this.src='assets/img-asset/no-image-available-icon-6.png';">
                <div class="card-body"  [hidden]="row.RECEIVE_IID==''">
                  <input type="file" class="form-control" id="customFile" #file2 type="file" accept='image/*' (change)="addProductIMG(row,2,file2.files)" />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-to" width="100%" height="150" src="assets/img-asset/{{row.IMG3}}"
                  onerror="this.src='assets/img-asset/no-image-available-icon-6.png';">
                <div class="card-body"  [hidden]="row.RECEIVE_IID==''">
                  <input type="file" class="form-control" id="customFile" #file3 type="file" accept='image/*' (change)="addProductIMG(row,3,file3.files)" />
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" prop="Name" name="" [width]="50"
        *ngIf="resHReceive.STATUS==''||resHReceive.STATUS=='PENDING'">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" style="top: -5px;">
          <button [disabled]="pMode!='E'&&pMode!='C'" class="btn btn-danger btn-sm " style="position:absolute; top:5px"
            (click)="confirmDeleteProduct(row)" placement="center" ngbTooltip="ลบรายการ">ลบ</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="100" name="รหัสสินค้า"
        prop="PRODUCT_CODE"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [width]="160" name="ชื่อสินค้า" prop="PRODUCT_DESC">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="70" name="หน่วยนับ" prop="UOM_DESC">
      </ngx-datatable-column>


      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="90" name="ราคารวม" prop="UNIT_PRICE">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <input type="text" [disabled]="true" [value]="(row.UNIT_PRICE*row.QTY).toFixed(2)"
            style="position:absolute; top:5px; width:65px; text-align: right;" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="90" name="ราคาต่อหน่วย"
        prop="UNIT_PRICE">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <input type="text" [disabled]="pMode!='E'&&pMode!='C'" [(ngModel)]="row.UNIT_PRICE"
            style="position:absolute; top:5px; width:60px; text-align: right;" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="50" name="จำนวน" prop="QTY">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <input type="text" [disabled]="pMode!='E'&&pMode!='C'" [(ngModel)]="row.QTY"
            style="position:absolute; top:5px; width:30px;" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="50" name="คืน" prop="QTY_IN"
        *ngIf="resHReceive.STATUS!=''">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <input type="text" (blur)="calculateFinePrice(row)" (keyup)="calculateFinePrice(row)" [disabled]="pMode!='E'"
            [(ngModel)]="row.QTY_IN" style="position:absolute; top:5px; width:30px;" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="150" name="หมายเหตุ" prop="REASON_DESC"
        *ngIf="resHReceive.STATUS!=''">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <!--<input type="text" [disabled]="pMode!='E'&&pMode!='C'"style="position:absolute; top:5px; width:100px;" />-->
          <select [(ngModel)]="row.REASON_ID" style="position:absolute; top:5px; height:28px; width: 130px;"
            [disabled]="pMode!='E'" required>
            <option value="">ระบุเหตุผล</option>
            <option *ngFor="let item of resReason" value="{{item.REASON_ID}}">{{item.REASON_DESC}}</option>
          </select>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" prop="Name" name="" [width]="100"
        *ngIf="resHReceive.STATUS!=''">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row" style="top: -5px;">
          <button [disabled]="pMode!='E'&&pMode!='C'"
            class="{{row.REASON_ID==''?'btn btn-secondary btn-sm':'btn btn-primary btn-sm'}}"
            style="position:absolute; top:5px" (click)="openModalAttachedment(row)" placement="center"
            ngbTooltip="ดู/เพิ่ม/แก้ไข เอกสารแนบ">เอกสารแนบ</button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [width]="90" name="ราคาปรับ" prop="FINE_PRICE"
        *ngIf="resHReceive.STATUS!=''">
        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
          <input type="text" [disabled]="pMode!='E'" [(ngModel)]="row.FINE_PRICE"
            style="position:absolute; top:5px; width:65px; text-align: right;" />
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>

  <div class="container">
    <div class="col-lg-12 mt-2">

      <div class="mb-3">
        <label for="lastName" class="form-label">หมายเหตุ</label>
        <textarea [disabled]="pMode!='E'&&pMode!='C'" type="text" class="form-control" [(ngModel)]="resHReceive.NOTE"
          rows="3"></textarea>
      </div>

    </div>



  </div>
</ion-content>